<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Welcome to <span th:text="${username.username}"></span> <span th:text="${username.lastName}"></span> 's profile</h2>
<h3> date of Birth : <span th:text="${username.dateOfBirth}"></span> </h3>
<h3> Bio : <span th:text="${username.bio}"></span> </h3>

<img src="https://image.shutterstock.com/image-photo/portrait-sad-man-black-white-260nw-1901205745.jpg"  width="155">
<ul th:each="post : ${username.getPosts()}">
    <li>
        My Posts
    </li>
   Text : <li th:text="${post.getBody()}">

    </li>

    At Time : <li th:text="${post.getTimeStamp()}">  </li>
</ul>



</body>
</html>